.nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  &-logo {
    font-size: 1.6rem;
  }
  &-btn {
    background-color: transparent;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 6px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    transition: all 250ms linear;
    &:hover {
      cursor: pointer;
      background-color: rgb(26, 26, 141);
      color: aliceblue;
    }
  }
  & svg {
    color: orangered;
  }
}